<div align="center">
	<h1>My Profile</h1>
	<div>
		<div  class="col-1-1">
			<img width="20%" height="50%" class="images" src="../../../assets/images/admin/spock.png"/>
		</div>
		<div class="col-2-4">
			<h4>Name : {{user.firstName}} {{user.lastName}}</h4>
		</div>
		<div class="col-2-2">
			<h4>About Me: {{user.aboutMe}}</h4>
		</div>
		<div class="col-2-4">
			<h4>E-Mail: {{user.email}}</h4>
		</div>
		<div class="col-3-2">
			<h4>Learning group: {{user.groupName}}</h4>
		</div>
		<div class="col-3-4">
			<h4>Phone: {{user.phoneNumber}}</h4>
		</div>
	</div>
</div>